{% extends 'base.html' %}
  {% block head %}
  <title>Login Page</title>
  <style>
  
       .col1 {width:50%;}
    
    @media only screen and (max-width: 768px) {
        .col1{
            width: 95%;
        }
        
  </style>

  {% endblock %}

 
{% block body %}
    <br><br><br><br><br><br>
      <div class= " container text-center  col1 ">
  <div class="card">
      <div class="card-body">
    <h1 class="text-primary">Your Password has been changed.<hr></h1>
    <a class="btn btn-success" href='http://127.0.0.1:3000/login'>Login </a>
  </div>
  </div><br><br><br><br><br><br><br><br><br><br><br>
      </div>
{% endblock  %} 